@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kode Mono', monospace;
}

html{
  scroll-behavior: smooth;
}


img {
  pointer-events: none;
}


.grid-container {
  margin: 0 auto;
  padding-top: 2rem;
}

.mansory-container{
  columns: 4;
  column-gap: 15px;
  width: 1200px;
  margin: 0 auto;
  will-change: transform, opacity;
}


.mansory-container .box{
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
}


.mansory-container .box img{
  max-width: 100%;
  border-radius: 15px;
  border: 2px solid greenyellow;
}


@media (max-width: 1280px){
  .mansory-container{
    width: calc(100% - 20px);
    columns: 3;
  }
}
@media (max-width: 768px){
  .mansory-container{
    width: calc(100% - 30px);
    columns: 2;
  }
}